:root {
	--text-color: #282828;
	--bg-color: #fffffb;
	--bg-hover: #f1f1f1;
	--bg-active: #bcbcbc;
	--content-color: var(--bg-hover);
	--bg-color-secondary: #6c6b6b;
	--bg-color-opacity: #fffffb19;
	--shadow-color: #818587;
	--button-primary-color: #959f05;
	--button-primary-blur: #c2c68c;
	--button-secondary-color: #d62828;
	--content-padding: 15px;
	--box-shadow: 0px 0px 10px 0px var(--shadow-color);
	font-family: 'Courier New', Courier, monospace;
}
:root{
	color: var(--text-color)
}